{% load static %}

<html lang="en">
<head>
		<title>ADME by MADYA</title>
	    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'blog/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'blog/assets/css/noscript.css' %}" /></noscript>
	</head>
<body class="is-preload">
	<div id="wrapper">
		<header id="header">

			<div class="inner">
				<a href="{% url 'blog:post_list' %}" class="logo">
					<span class="symbol"><img src="{% static 'blog/images/logo.svg' %}" alt="" /></span>
					<span class="title">ADME by M</span>
				</a>

				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>






		<nav id="menu">
		<h2>Menu</h2>
		<ul>
			<li><a href="{% url 'blog:create_post'%}">Create Post</a></li>
		
			
			{% if user.is_authenticated %}
			<li><a href="{% url 'logout' %}">Log out</a></li>
			<li><a href="{% url 'password_change' %}">Change password</a></li>
			{% else %}
			<li><a href="{% url 'login' %}">Log in</a></li>
			<li><a href="{% url 'password_reset' %}">Forgotten your password</a></li>
			<li><a href="{% url 'signup' %}">Sign Up</a></li>
			
			{% endif %}

			<li><nav class="navbar navbar-light bg-light">
					<form action="{% url 'blog:search' %}" method = "get">
					  <input name = "q" type="text" placeholder="Search...">
					  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				  </nav></li>
		</ul>
		</nav>





<div class="container" style="margin:50px 230px;">
		{% block content %}
		{% endblock %}
</div>
        



<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>
	</div>
	        <script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'blog/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'blog/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'blog/assets/js/util.js' %}"></script>
			<script src="{% static 'blog/assets/js/main.js' %}"></script>

</body>
</html>





